/* Page background */
.login-wrapper {
  min-height: 100vh;
  /* background-color: #f5f7f9; */
  background-image: url("./images/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: transparent;
  text-align: center;
}

.crm-logo {
  font-size: 40px;
  font-weight: 700;
  color: #2C8769;
  margin-bottom: 10px;
}

/* Heading */
.login-heading {
  font-size: 22px;
  font-weight: 600;
  color: #2C8769;
  margin-bottom: 4px;
}

/* Sub text */
.login-subtext {
  font-size: 13px;
  color: #8a98a5;
  margin-bottom: 28px;
}

/* Form */
.form-group {
  text-align: left;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 12px;
  color: #6c7a86;
  margin-bottom: 6px;
  display: block;
}

/* Inputs */
.form-group input {
  width: 100%;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #d9dee3;
  padding: 0 12px;
  font-size: 13px;
  outline: none;
}

.form-group input::placeholder {
  color: #aab3bb;
}

/* Password */
.password-box {
  position: relative;
}

.password-box .eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #9aa6af;
  cursor: pointer;
}

/* Forgot */
.forgot {
  text-align: right;
  font-size: 12px;
  color: #4fa58a;
  margin-top: -6px;
  margin-bottom: 22px;
  cursor: pointer;
}

/* Button */
.login-btn {
  width: 100%;
  height: 44px;
  background: #2C8769;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.login-btn:hover {
  background: #27785f;
}

/* Signup */
.signup-text {
  margin-top: 18px;
  font-size: 13px;
  color: #555;
}

.signup-text span {
  color: #2C8769;
  font-weight: 500;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 480px) {
  .login-card {
    width: 100%;
    padding: 0 20px;
  }
}
